.ticketTableContainer {
  width: 100%;
  overflow-x: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
 
}

.ticketTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  
}

.ticketTable th, .ticketTable td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
}

.ticketTable th {
  background-color: rgba(0, 112, 255, 0.05);
  color:rgba(79, 79, 79, 1);
}


.ticketTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.ticketTable tr:hover {
  background-color: #f1f1f1;
}

.ticketTable button {
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.ticketTable button:hover {
  background-color: #289ec6;
}


.recentActivitiesHeader {
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.iconRight {
  margin-left: 8px;
}

.priorityIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.ticketTable th:last-child, .ticketTable td:last-child {
  text-align: center;
}
